@media all and (max-width: 480px) {
.booking__button {
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, $color-1, $color-2);
    color: white;
    font-weight: bold;
}

.order {
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, $color-1, $color-2);
    color: white;
    font-weight: bold;
    width: 175px;
    height: 40px;
    margin:40px 0px 60px 100px;
}
}

@media all and (min-width: 641px) {

    .booking__button {
        border-radius: 30px;
        border: none;
        background: linear-gradient(to top, $color-1, $color-2);
        color: white;
        font-weight: bold;
    }
    
    .order {
        border-radius: 30px;
        border: none;
        background: linear-gradient(to top, $color-1, $color-2);
        color: white;
        font-weight: bold;
        width: 175px;
        height: 40px;
        margin:40px 0px 60px 100px;
        margin-left: -300px;
    
    }
    

}