@media all and (max-width: 480px) {
.booking__button {
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, $color-1, $color-2);
    color: white;
    font-weight: bold;
}

.order {
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, $color-1, $color-2);
    color: white;
    font-weight: bold;
    width: 175px;
    height: 40px;
    margin:40px 0px 60px 100px;

     &:hover {
        background: lighten($color-1, 4);
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);

    }
}
}

@media all and (min-width: 641px) {

    .booking__button {
        border-radius: 30px;
        border: none;
        background: linear-gradient(to top, $color-1, $color-2);
        color: white;
        font-weight: bold;
        
    }
    
    .order {
        border-radius: 30px;
        border: none;
        background: linear-gradient(to top, $color-1, $color-2);
        color: white;
        font-weight: bold;
        width: 175px;
        height: 40px;
        margin:40px 0px 60px 100px;
        margin-left: -300px;

        :hover {
        background: lighten($color-2, 10);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    }
    

}