.loader {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #353535;
    opacity: .8;
    }
  
    .myloader {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;

    }
  
    .myloader div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #9356dc;
        border-radius: 50%;
        animation: myloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #9356dc transparent transparent transparent;
    }

    .myloader div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .myloader div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .myloader div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes myloader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .myloader  {
        animation: hideme 0s 3s;
        animation-fill-mode: forwards;
    }
    .loader{
        animation: hideme 0s 3s;
        animation-fill-mode: forwards;
    }
    @keyframes hideme {
        to {
            visibility: hidden;
        }
    }
 